@import '../../styles/main';

.summary {
  .green {
    color: #84b750;
  }

  .red {
    color: #ba6485;
  }

  .blue {
    color: #3a95c4;
  }
  .fix-title-recommand-teacher{
    border-bottom: none;
    padding-bottom: 0;
  }
  .head-title {
    font-size: 24px;
    font-weight: 600;
    height: 40px;
    text-align: right;
    line-height: 40px;
    padding-right: 15px;
    margin-bottom: 15px;
  }

  .edit-title {
    font-size: 20px;
    height: 40px;
    text-align: right;
    line-height: 40px;
    background-color: #e5ebf1;
    color: #3a95c4;
    padding-right: 15px;
  }

  .sub-title {
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: transparent;
  }

  .edit-icon {
    position: absolute;
    left: 20px;
    top: 11px;
    cursor: pointer;

    a {
      color: #74818a;
    }
  }

  .title-description {
    color: #74818a;
  }

  .summary-section {
      position: relative;
    .next-recommendation {
      position: absolute;
      left: 45px;
      bottom: 37px;

      img {
        transform: rotate(90deg);
        bottom: 1px;
        position: relative;
      }
    }
  }

  .recommendation-box {
    position: relative;
    border: solid 1px #e2e2e2;

    .background-blue-title {
      background-color: #e5ebf1;
    }
    textarea {
      color: #000000;
      font-size: 16px;
      height: 100px;
      padding-right: 21px;
      padding-top: 20px;
      border: none;
      resize: none;
      width: 100%;
    }
  }
  .recommand-teacher{
    .recommendation-box{
      position: relative;
      border: solid 1px #e2e2e2;
      .text-box{
        height: 156px;
        padding-right: 15px;
      }
    }
  }
}
