@import '../../styles/main';

.partners {
  .edit-mode {
    border: solid 1px #b0d5e7;
  }

  .area {
    padding: 0;
  }

  .title {
    padding: 20px;
  }

  .description {
    font-size: 24px;
    padding: 0 20px 10px;
  }

  &-list {

    padding: 25px 20px;
    border-bottom: none;

    .partners-item-first {
      margin-bottom: 24px;

      .sub-title {
        font-size: 24px;
        color: #3a95c4;
        display: inline-block;
        margin-left: 68px;
      }

      .edit-action {
        display: inline-block;
        color: #74818a;

        .edit-btn {
          font-size: 16px;

          .edit-icon {
            padding-left: 5px;
          }
        }
      }
    }
  }

  &-table {
    // display: grid;
    // width: 590px;
    // grid-template-rows: repeat(4, 40px);
    // grid-row-gap: 10px;

    .item-table {
      display: flex;
      width: 50%;
      margin-bottom: 10px;

      justify-content: space-between;
      // display: grid;
      // grid-template-columns: repeat(4, 1fr);
      // grid-column-gap: 10px;
      font-size: 16px;
      color: #000000;

      .btn-group {
        width: 128px;
      }

      .btn-sm {
        width: 64px;
        border: solid 1px #3a95c4;
        border-radius: 0;
        color: #3a95c4;
        font-size: 16px;
        height: 29px;
        line-height: 18px;
      }

      .active {
        color: #ffffff;
        background-color: #3a95c4;
      }

      .add-partners {
        height: 40px;
        font-size: 16px;
        background-color: #e2e2e2;
        text-align: center;
        line-height: 40px;
        color: #74818a;

        button {
          width: 140px;
        }
      }

      .delete-action {
        display: inline-block;
        color: #74818a;

        .edit-btn {
          font-size: 16px;

          .edit-icon {
            padding-left: 5px;
          }
        }
      }

      .key-value {
        width: 100%;
      }
    }

    .sub-title-table {
      font-size: 18px;
      color: #74818a;
      font-weight: 600;
      line-height: 40px;
      width: 100%;
    }
  }

  &-info-list {
    height: 350px;

    .info-sections-partners {
      .info-section {
        padding: 0;
        margin: 0 4px;
        width: 32%;
        border: solid 1px #e2e2e2;

        h3 {
          height: 40px;
          font-size: 20px;
          background-color: #e2e2e2;
          text-align: center;
          line-height: 40px;
          color: #74818a;
        }

        textarea {
          color: #74818a;
          font-size: 16px;
          height: 207px;
          width: 98%;
          padding-right: 21px;
          padding-top: 20px;
          border: none;
          resize: none;
        }
      }
    }
  }

  .save-section {
    height: 74px;
    line-height: 74px;
    background-color: rgba(58, 149, 196, 0.2);
    padding-right: 20px;
    border-top: 1px solid #b0d5e7;

    .save-btn {
      width: 91px;
      height: 33px;
      color: #ffffff;
      font-size: 20px;
      text-align: center;
      line-height: 33px;
      background-color: #3a95c4;
    }

    .cancel-btn {
      color: #74818a;
      width: 91px;
      height: 33px;
      font-size: 16px;
      line-height: 33px;
      background-color: transparent;
    }
  }

  .more-link {
    width: 40px;
    display: inline-block;
    position: absolute;
    left: 45px;
    bottom: 55px;

    a {
      color: #3a95c4;
      font-size: 16px;
    }
  }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    textarea {
      width: 100px;
    }
  }
}
