//Ministry of Education -Tala

@import '../../styles/main';

//target visible block with table
@mixin target($color: $green) {
    .profile-target-head {
        @include flexbox;
        @include align-items(flex-end);
    }
    .profile-target-title {
        width: calc(100% / 3);
        flex-basis:  calc(100% / 3);
        &-number {
            display: block;
            color: $color;
            font-weight: 600;
        }
        &-label {
            display: inline-block;
            color: $color;
            font-weight: 600;
        }
        &-name {
            font-size: $font-size + 8px;
            color: $font-light;
        }
        &-input {
            display: inline-block;
            color: $font-light;
            width: 170px;
            margin-right: 10px;
            padding-right: 10px;
            padding-left: 10px;
            border: none;
            @include placeholder($font-light);
        }
    }
    .target-view {
        color: $color;
        font-weight: 600;
        padding-bottom: 1px;
        border-bottom: 1px solid transparent;
        position: relative;
        &:before {
            content: "";
            width: 10px;
            height: 6px;
            background-image: url('../../img/arrow_grey.png');
            background-size: 10px 6px;
            background-repeat: no-repeat;
            background-position: left center;
            position: absolute;
            top: 6px;
            left: -18px;
        }
        &:hover {
            border-bottom: 1px solid $color;
        }
    }

    .profile-target-add {
        color: $color;
        padding-top: 15px;
    }

    //table
    .target-calendar {
        margin-top: 20px;
        &-line {
            @include flexbox;
            @include flex-wrap(nowrap);
            @include justify-content(flex-start);
            &:nth-last-child(2) .target-calendar-cell:not(.line-header) {
                border-bottom: 1px solid $border-color;
            }
        }

        &-cell:not(.line-header) {
            width: 60px;
            height: 60px;
            border-top: 1px solid $border-color;
            border-right: 1px solid $border-color;
            &:last-child {
                border-left: 1px solid $border-color;
            }
            .target-calendar-cell-link {
                cursor: pointer;
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        .line-header {
            text-align: center;
            color: $color;
            font-weight: 600;
            width: calc(100% - (60px * 12));
            height: 60px;
            line-height: 60px;
        }

        .month-header {
            width: calc(100% - (60px * 12));
        }

        .filled {
            border-right: none;
            border-left: none;
            background-color: $color;
        }

        &-month {
            text-align: center;
            color: $font-light;
            width: 60px;
            height: 30px;
            line-height: 30px;
        }
    }

    //floating note appears on hover on every filled cell
    .target-note {
        display: none;
    }

    .filled:hover {
        position: relative;

        .target-note {
            @include targetNote($color);
        }
    }

    //check-boxes - color according to target's color
    .control {
        @include checkbox($color);
    }

}

//floating div that openes horrizontaly - tips for check-box
@mixin targetDetails {
    display: block;
    width: 252px;
    line-height: normal;
    background-color: $light-color;
    padding: 20px 25px;
    border: 1px solid $tooltip-border;
    @include box-shadow(0, 2px, 13px, 0, rgba(0, 0, 0, 0.17));
    @include border-radius(3px);
    position: absolute;
    left: -273px;
    top: calc(322px / 2 * (-1) + 23px ); // 322px = height of the div in absolute position; 23px = half of the height of the parent element

    .target-fields-item-details-arrow {
        @include arrowHorizontal;
    }

    .target-fields-item-details-set:not(:last-child) {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $border-color;
    }

    .target-fields-item-details-title {
        color: $font-light;
        line-height: 20px;
        font-size: $font-size + 2px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .target-fields-item-details-data {
        font-size: $font-size;
    }
}

//floating note appears on hover on every filled cell
@mixin targetNote($color) {
    display: block;
    width: 533px;
    padding: 23px 20px;
    background-color: $light-color;
    border: 1px solid $tooltip-border;
    @include box-shadow(0, 2px, 13px, 0, rgba(0, 0, 0, 0.17));
    @include border-radius(3px);
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 1;
    &-arrow {
        @include arrow(up);
    }
    &-title {
        font-size: $font-size + 2px;
        text-align: center;
        color: $color;
    }
    &-main {
        font-size: $font-size + 2px;
        text-align: center;
        color: $color;
        line-height: 30px;
    }
    &-ways {
        display: inline-block;
        font-weight: 600;

        &:after {
            content: "";
            display: inline-block;
            height: 20px;
            padding-left: 10px;
            border-left: 1px solid $color;
            vertical-align: middle;
        }
    }
    &-tutors {
        display: inline-block;
        margin-right: 10px;
    }
    &-description {
        font-size: $font-size + 2px;
        font-weight: 700;
        line-height: 25px;
        &-period {
            color: $font-light;
        }
    }
    &-list {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        @include flexbox;
        overflow-x: auto;
    }
    &-item {
        width: 50%;
        min-width: 245px;
        line-height: 20px;
        padding-left: 40px;
        &-title {
            font-size: $font-size + 2px;
            font-weight: 600;
            color: $font-light;
            margin-bottom: 5px;
        }
        &-tutor {
            font-weight: 600;
        }
    }
    &-footer {
        color: $font-light;
        @include flexbox;
        @include justify-content(flex-end);
        @include align-items(flex-end);
        &-item {
            @include flex-grow(1);
        }
        .btn-edit {
            margin-left: 40px;
            @include flex-grow(0);
        }
        .btn-remove {
            @include flex-grow(0);
        }
    }
}
.targets{
    .profile-target.green{
        @include target($green);
    }
    .profile-target.crimson{
        @include target($crimson);
    }
    .profile-target.yellow{
        @include target($yellow);
    }
    .target-details {
        .target-container {
            position: relative;
            z-index: 1;
        }
    
        .target-fields {
            font-size: $font-size + 2px;
            width: 270px;
            height: auto;
            max-height: 600px;
            padding-right: 20px;
            padding-left: 20px;
            background-color: $light-color;
            border: 1px solid $tooltip-border;
            @include box-shadow(0, 2px, 13px, 0, rgba(0, 0, 0, 0.17));
            @include border-radius(3px);
            @include transition(1s, linear);
            position: absolute;
            top: 10px;
            left: -145px;
    
            .target-fields-arrow {
                @include arrow(up);
            }
    
            &-title {
                margin-top: 20px;
            }
    
            &-list {
                margin-top: 17px;
            }
            &-item {
                height: 45px;
                line-height: 45px;
                border-top: 1px solid $border-color;
                position: relative;
    
                &:last-child {
                    margin-bottom: 20px;
                    border-bottom: none;
                }
    
                .target-fields-item-details {
                    display: none;
                }
    
                .control:hover {
                    .target-fields-item-details {
                        @include targetDetails;
                    }
                }
    
                input[type="checkbox"]:focus {
                    & ~ .target-fields-item-details {
                        @include targetDetails;
                    }
                }
            }
        }
    
        .collapsed {
            max-height: 0;
            border-width: 0;
        }
    
        .overflow-hidden {
            overflow: hidden;
        }
    }
    
    .profile-new-target {
        width: 138px;
        height: 40px;
        line-height: 40px;
        color: $font-light;
        margin-top: 24px;
        background-color: $border-color;
    }
    
    .profile-target-container{
        position: relative;
    
        .target-hover-opacity,
        .target-hover {
            text-align: center;
            color: $font-light;
            width: calc(60px * 12 - 3px);
            height: 118px;
            line-height: 120px;
            margin-right: 60px;
            position: absolute;
            top: 1px;
            left: 2px;
            pointer-events: none;
        }
    
        .target-hover-opacity {
            background-color: $light-color;
            opacity: 0.4;
        }
    }    
}


//modal - rules for targets page
.modal {
     textarea{
        resize: none;
    }
    &-dialog {
        height: 750px;
    }
    &-header {
        dt, dd {
            display: inline-block;
        }
    }
    &-title {
        display: inline-block;
        color: $green;

        &:after {
            content: "";
            display: inline-block;
            height: 17px;
            padding-left: 10px;
            border-left: 1px solid $border-color;
        }
    }
    &-fields {
        display: inline-block;
        font-size: $font-size + 2px;
        color: $green;
        margin-right: 13px;
    }
    &-container {
        height: 560px;
        padding-top: $modal-main-padding;
        padding-right: $modal-main-padding;
        padding-left: $modal-main-padding;
        // overflow-y: scroll;
    }
    &-top {
        height: 160px;
        @include flexbox;
        @include justify-content;
    }
    &-field {
        @include flex-grow(1);
        margin-left: 20px;
        padding: 18px 20px;
        &-text {
            display: block;
            width: 100%;
            height: 65px;
            padding: 18px 15px;
            border: 1px solid $border-color;
        }
    }
    &-side {
        padding: 18px;
        .header-filters-item-title {
            color: $font-light;
            line-height: 30px;
        }
    }
    &-main {
        margin-bottom: 0;
        padding: 16.5px 20px;
        overflow: overlay;
    }

    .way {
        &-list {
            min-width: 100%;
            min-height: 218px;
            
            @include flexbox;
            @include flex-wrap(nowrap);
            @include justify-content(flex-start);

            &::-webkit-scrollbar {
                display: none;
              }
        }
        &-item {
            text-align: center;
            min-width: 218px;
            margin-bottom: 20px;
            @include flex-basis(calc(100% / 4 - 8px));
            border: 1px solid $border-color;
            // &:not(:nth-child(4n)) {
                margin-left: 8px;
            // }
        }
        &-item-last{
            display: none;
            margin-left: 8px;
        }
        &-title {
            font-size: $font-size + 4px;
            color: $font-light;
            height: 40px;
            line-height: 40px;
            background-color: $border-color;
        }
        &-body {
            padding: 13px 20px 20px 20px;
        }
        &-description {
            display: block;
            width: 100%;
            height: 122px;
            margin-top: 13px;
            padding: 16px 14px;
        }
    }

    .header-filters-item-data:hover {
        color: $font-light;
        text-decoration: underline;
    }

    .btn-add {
        font-size: $font-size + 4px;
        color: $font-light;
        width: 225px;
        height: 38px;
        background-color: $border-color;
    }
    &-button-container{
        padding-right: 20px;
        padding-top: 20px;
        font-weight: 300;
    }
    &-button-wrapper {
        width: 100%;
        margin-top: 20px;
        padding-right: 20px;
        padding-bottom: 17px;
        padding-left: 20px;
    }
}
