//Ministry of Education -Tala

@import '../../styles/main';

.profile-list {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(space-between);

    .profile-item {
        text-align: center;
        font-size: $font-size + 8px;
        width: 256px;
        height: 120px;
        margin-bottom: 20px;
        border: 1px solid $border-color;
        &:hover {
            border-bottom: $active-color;
            .profile-item-link {
                color: $active-color;
            }
            .profile-item-border {
                height: 3px;
                background-color: $active-color;
            }
        }

        &-link {
            color: $font-light;
            height: 100%;
            @include flexbox;
            @include flex-direction(column);
            @include justify-content(space-between);
            position: relative;
            &:hover{
                text-decoration: none;
            }
            &:focus {
                 
                text-decoration: none;
            }
        }

        &-title {
            @include flex-grow(1);
            @include flexbox;
            @include flex-direction(column);
            @include justify-content(center);
        }

        &-border {
            height: 2px;
            background-color: transparent;
        }

        &-completed {
            display: none;
        }
    }

    .profile-item.completed {
        border: 1px solid $active-color;
        .profile-item-completed {
            display: block;
            width: 20px;
            height: 20px;
            background-color: $active-color;
            border-radius: 50%;
            background-image: url('../../img/success.png');
            background-repeat: no-repeat;
            background-position: center center;
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
}

.profile-fields {
    padding: 25px 20px;
    background-color: $light-color;
    @include box-shadow;

    &-line {
        &:not(:first-child) {
            padding-top: 20px;
        }
        &:not(:last-child) {
            padding-bottom: 20px;
            border-bottom: 1px solid $border-color;
        }
    }

    .profile-item-title {
        font-size: $font-size + 8px;
        color: $active-color;
        margin-bottom: 18px;
    }

    &-list {
        max-height: 124px;
        overflow-y: hidden;
        @include flexbox;
        @include align-items(stretch);
        @include transition(1s, linear);
    }

    .expanded {
        height: auto;
        max-height: 300px;
    }

    &-item {
        display: inline-block;
        width: calc(100% / 3);
        padding-left: 30px;
        vertical-align: top;
    }

    .first-item {
        color: $font-light;
    }

    &-buttons {
        margin-top: 20px;
        @include flexbox;
        @include justify-content;
        &-right {
            color: $font-light;
            width: calc(100% / 3 - 30px);
            @include inline-flex;
            @include justify-content;
        }
        &-left {
            display: inline-block;
            text-align: left;
            width: calc(100% / 3 * 2);
            color: $active-color;
        }
    }

    &-full {
        padding-left: 16px;
        position: relative;
        overflow: hidden;
        &:before {
            content: "";
            width: 10px;
            height: 6px;
            background-size: 6px 10px;
            background: url('../../img/arrows/arrow_blue.png') 0 0 no-repeat;
            background-position: center center;
            @include transform(90deg);
            position: absolute;
            top: 6px;
            left: 0;
        }
    }

    .full-up:before {
        @include transform(180deg);
    }

    &-title {
        font-size: $font-size + 2px;
        font-weight: 600;
        color: $font-light;
        margin-bottom: 10px;
    }
}


//modal - rules for profile page
.modal {
    textarea{
        resize: none;
    }
    &-body {
        padding: $modal-main-padding;
    }
    &-main {
        height: $modal-main-height;
        padding-right: 0;
        padding-left: 0;
        position: relative;
        &-form {
            height: 100%;
        }
        .row {
            height: calc(100% - 60px - 20px);
            margin-right: 0;
            margin-left: 0;
        }
    }
    &-side {
        height: $modal-main-height;
        border-right: 1px solid $border-color;
    }
    &-field {
        height: 100%;
        padding-right: 0;
        padding-left: 20px;
        box-sizing: border-box;

        &-wrapper {
            height: 100%;
            padding: 24px 20px;
            background-color: $light-color;
            @include box-shadow;
        }

        &-text {
            height: 214px;
            line-height: 25px;
            display: block;
            width: 100%;
           // height: calc(100% - 13px - 20px);
            padding: 18px 15px;
            border: 1px solid $border-color;
        }
        &-teacher{
            height: 86px;
            line-height: 20px;
            margin-top: 20px;
        }
    }
}

.modal-side {
    padding-top: 24px;
    padding-right: 18px;
    padding-left: 0;
    overflow-y: auto;
    .modal-field-title {
        margin-bottom: 10px;
    }
    &-item {
        padding-top: 20px;
        padding-bottom: 14px;
        padding-left: 15px;
        border-bottom: 1px solid $border-color;
        &:first-child {
            padding-top: 0;
        }
        &-title {
            font-size: $font-size + 2px;
            font-weight: 600;
            color: $font-light;
            margin-bottom: 10px;
        }
        &-data {
            margin-bottom: 8px;
            color: $font-light;
            overflow: hidden;
        }
        &-expand,
        &-collapse {
            color: $active-color;
            height: 17px;
            line-height: 17px;
            padding-right: 23px;
            background-size: 17px;
            background-repeat: no-repeat;
            background-position: right center;
        }

        &-expand {
            background-image: url('../../img/show_more.png');
        }

        &-collapse {
            background-image: url('../../img/show_less.png');
        }
    }
    .collapsed {
        // height: 0;
        // opacity: 0;
        display:none;
        @include transition(0.8s);
    }

    .expanded {
        height: 65px;
        opacity: 1;
        @include transition(0.8s);
    }
}

.modal-result {
    width: $result-modal-width;
    height: $result-modal-height;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .modal-content {
        text-align: center;
        width: 100%;
        height: 100%;
        background-color: $modal-bg;
        border: 1px solid $divider-color;
        @include border-radius(0);
        @include box-shadow(3.5px, 3.5px, 5px, 0, rgba(0, 0, 0, 0.14));
        overflow: hidden;
    }

    .modal-body {
        padding-top: 48px;
        padding-bottom: 30px;
    }

    &-indication {
        margin-bottom: 15px;
    }

    &-field{
        font-size: $font-size + 14px;
        color: $font-light;
        line-height: 37px;
    }

    &-message {
        font-size: $font-size + 14px;
        color: $modal-success;
        line-height: 37px;
    }

    &-link {
        display: block;
        margin-top: 29px;

        a {
            font-size: $font-size + 2px;
            color: $active-color;
            border-bottom: 1px solid transparent;
            &:hover {
                border-bottom: 1px solid $active-color;
            }
        }
    }
}

//instructions with a flag (left side of the screen)
.instructions {
    position: fixed;
    top: 160px;
    left: -268px;
    @include transition(0.8s, ease-out);
    .flag {
        text-align: center;
        font-size: $font-size + 2px;
        color: $light-color;
        width: 87px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: $font-light;
        position: absolute;
        right: -87px;
        @include box-shadow;
        @include border-radius(0);
    }
    .ready-to-open {
        background-color: $yellow;
    }
    &-list {
        color: $font-light;
        width: 268px;
        padding-right: 20px;
        padding-left: 20px;
        border-right: 5px solid $font-light;
        background-color: $light-color;
    }
    &-item {
        padding-top: 30px;
        padding-bottom: 30px;
        &:not(:last-child) {
            border-bottom: 1px solid $border-color;
        }
    }
    &.expanded {
        left: 0px;
    }
}




