@import '../../styles/main';

.documents {
  .documents-inputs-container {
    .documents-inputs {
      .valid-text {
        color: #dc5961;
        font-size: 16px;
        padding-top: 9px;
      }

      .input {

        float: right;

        label {
          display: block;
          margin-bottom: 4px;
        }
      }

      input {
        height: 33px;
        border: solid 1px #e2e2e2;
      }

      select {
        border: solid 1px #e2e2e2;
      }

      .search-select {
        width: 204px;

        select {
          width: 194px;
          padding-right: 5px;
          background-position: 10px;
          background-size: 15px;
        }
      }

      .description-input {
        width: 204px;

        input {
          width: 194px;
        }
      }

      .date-file {
        width: 169px;

        input {
          width: 123px;
        }

        img {
          position: relative;
          right: 5px;
          top: 5px;
        }
      }

      .add-file {
        width: 156px;

        input {
          width: 146px;
          text-indent: -999em;
           
          position: absolute;
          cursor: pointer;
          opacity: 0;
        }

        .border {
          width: 146px;
          height: 33px;
          display: inline-block;
          pointer-events: none;
          border: solid 1px #e2e2e2;
        }
      }

      .choose-file {
        &-btn {
          width: 66px;
          height: 33px;
          background-color: #74818a;
          color: #ffffff;
          font-size: 16px;
          margin-top: 19px;
        }
      }
    }

    .clear {
      clear: both;
    }

    .actions-area {
      display: block;
      width: 100%;
      background-color: #ffffff;

      .btn-save {
        display: inline-block;
        font-size: 23px;
        color: $light-color;
        height: 33px;
        padding-right: 18px;
        padding-left: 18px;
        background-color: #3a95c4;
      }

      .btn-cancel {
        background-color: #ffffff;
        font-size: 18px;
        color: $active-secondary;
        height: 33px;
        margin-right: 20px;
        padding-right: 18px;
        padding-left: 18px;
      }
    }
  }

  .table-documents {
    border: solid 1px #e2e2e2;

    &-head {
      &-container {}

      &-item {
        text-align: right;
        padding-top: 10px;
        padding-right: 10px;
        font-size: 16px;
        height: 47px;
        color: #74818a;
        background-color: #e5ebf1;

      }
    }

    &-body {
      &-container {
        text-align: right;
      }

      &-item {
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        border: solid 1px #e2e2e2;
        height: 52px;

        &:nth-child(1) {
          width: 6.7%;
        }

        &:nth-child(2) {
          width: 19%;
        }

        &:nth-child(3) {
          width: 17.3%;
        }

        &:nth-child(4) {
          width: 10.4%;
        }

        &:nth-child(5) {
          width: 9.5%;
        }

        &:nth-child(6) {
          width: 12.9%;
        }

        &:nth-child(7) {
          width: 23.4%;
        }

        &-actions {
          button {
            width: 53px;
            height: 33px;
          }

          .watch {
            color: #2c7095;
            background-color: transparent;
            border: solid 1px #3a95c4;
          }

          .download {
            color: #2c7095;
            background-color: transparent;
            border: solid 1px #3a95c4;
          }

          .delete {
            color: #dc5961;
            border: none;
          }
        }
      }
    }
  }
}

.modal {
  background-color: rgba(255,255,255,0.8);

  .modal-dialog {
    width: 412px;
    height: 197px;

    .modal-body {
      text-align: center;

      .modal-result-message {
        margin-top: 25px;
        font-size: 30px;
        color: #629847;
      }

      .title-delete {
        color: #74818a;
        font-size: 30px;
        padding: 20px 0;
      }

      .actions-modal {
        button {
          width: 110px;
          height: 40px;
          font-size: 16px;

        }

        .btn-save-modal {
          background-color: #dc5961;
          color: #ffffff;
        }

        .btn-cancel-modal {
          color: #74818a;
        }
      }
    }
  }
}
