@import '../../styles/main';

.header {
  margin-bottom: 0;

  .header-bar {
    background-color: #e5ebf1;
  }
}

.general-home {
  background-image: url('../../img/Hero_Pic.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.home {
  height: 880px;
  font-size: 20px;
  line-height: 1.4;
  color: #2c7095;
  padding-top: 240px;

  .actions {
    .link-system {
      width: 350px;
      height: 50px;
      color: #000000;
      font-size: 20px;
      background-color: #75b6d6;
      text-align: center;
      line-height: 50px;
      cursor: pointer;
      a {
        font-weight: 600;
        &:hover, &:focus {
          color: #000000;
        }
      }

      .arrow {
        background-image: url("../../img/arrows/Asset 92mdpi.svg");
        width: 20px;
        height: 20px;
        display: inline-block;
        top: 3px;
        position: relative;
        right: 10px;
      }
    }

    .link-password {
      margin-top: 20px;
      text-decoration: underline;
      font-size: 18px;
      a{
        color: #74818a;
      }
    }
  }
}

.footer {
  margin-top: 0;
}
