//Ministry of Education-Tala
@import 'font-assistant';
@import 'colors';
@import 'variables';
@import 'bootstrap-patches';
@import 'mixins';

//reset
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-weight: 400;
  box-sizing: border-box;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

dt {
  margin-left: 4px;
}

ul {
  list-style: none;
}

a {
  color: $font-color;

  &:hover {
    text-decoration: none;
  }
}

button {
  background-color: transparent;
  padding: 0;
  border: none;
}

select {
  background-color: transparent;
  background-position: 3px;
  background-repeat: no-repeat;
  background-image: url('../../img/arrows/arrow_blue.png');

  border: thin solid blue;
  font: 300 1em/100% "Helvetica Neue", Arial, sans-serif;
  // line-height: 10px;
  padding: .5em 0 .5em 1em;

  border-radius: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  &::-ms-expand {
    display: none;
}

}

//common
body {
  direction: rtl;
  font-family: 'Assistant', sans-serif;
  font-size: $font-size;
  text-align: right;
  color: $font-color;
  background-color: $bg-body;
  overflow-x: hidden;
}

.col-lg-9 , .col-sm-9{
  padding-left: 0;
}
.col-lg-3 , .col-sm-3{
  padding-right: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hidden {
  display: none;
}

.strong {
  font-weight: 700;
}

.area {
  @include area;
}

.btn-edit {
  display: inline-block;
  color: $font-light;
  padding-right: 18px;
  background-image: url('../../img/edit.png');
  background-size: 12px 14px;
  background-repeat: no-repeat;
  background-position: right center;
}

.btn-remove {
  display: inline-block;
  color: $font-light;
  padding-right: 19px;
  background-image: url('../../img/remove.png');
  background-size: 12px 14px;
  background-repeat: no-repeat;
  background-position: right center;
}

//header
.header {
  width: 100%;
  height: 130px;
  margin-bottom: 30px;
  padding-top: 8px;
  padding-bottom: 10px;
  background-color: $light-color;
   position: relative;
  top: 0;
  z-index: 900;

  .logo {
    top: 6px;
    right: 0;
  }

  &-navigation {
    float: left;

    &-item {
      font-weight: 600;
      height: 33px;
      line-height: 31px;
      float: right;
      @include navigationDivider;
    }

    .search {
      padding-right: 20px;
      background-image: url('../../img/search.png');
      background-repeat: no-repeat;
      background-position: center right;
    }
  }

  &-title {
    font-size: $font-size + 28px;
    // height: calc(130px - 10px  - 15px - 33px - 10px);
    // line-height: calc(130px - 10px  - 15px - 33px - 10px);
    margin-right: 40px;
    // margin-bottom: 15px;
    // padding-top: 11px;
    top: -15px;
    position: relative;
  }

  &-bar {
    display: inline-block;
    height: 33px;
    @include flexbox;
    @include flex-wrap(nowrap);
    @include justify-content(flex-start);
  }

  &-home {
    width: 50px;
    height: 100%;
    margin-left: 3px;
    background-color: $bg-filters;
    background-image: url('../../img/home.png');
    background-position: center center;
    border: none;
  }

  &-filters {
    &-list {
      font-size: $font-size;
      height: 100%;
      padding-right: 18px;
      padding-left: 18px;
      background-color: $bg-filters;
      @include flex-grow(1); //item in flex-box
      @include flexbox;
      //display: flex-box
      @include flex-wrap(wrap);
      @include justify-content(flex-start);
      @include align-items(center);
    }

    &-item {
      height: 100%;
      line-height: 33px;
      margin-left: 28px;

      &-title {
        display: inline-block;
      }

      &-data {
        display: inline-block;
        color: $active-color;
        border: none;
      }
    }
  }
}

//footer
.footer {
  color: $font-color-footer;
  width: 100%;
  // height: 246px;
  background-color: $bg-footer;
  margin-top: 100px;
  @include flexbox;
  @include flex-direction(column);
  @include justify-content;

  &-nav-list {
    @include flexbox;
    @include flex-direction;
    @include flex-wrap;
    @include justify-content;
  }

  &-nav-item {
    display: inline-block;
    // width: (($width-container - 20*3) / 4);
    // margin-left: 18px;
    padding-top: 40px;
    // @include flex-basis(($width-container - 20*3) / 4);
    &:last-child {
      margin-left: 0;
    }

    &-title {
      margin-bottom: 20px;
    }

    &-link {
      margin-bottom: 15px;
    }
  }

  &-legal {
    color: $font-color-legal;
    height: 65px;
    background-color: $bg-legal;

    &-list {
      height: 100%;
      line-height: 100%;
      @include flexbox;
      @include flex-direction;
      @include justify-content(center);
      @include align-items;
    }

    &-item {
      @include navigationDivider;

      &:first-child {
        &:before {
          content: "\00A9";
          display: inline-block;
          padding-top: 2px;
          margin-left: 5px;
        }

      }
    }

  }
}

//personal program area
//profile main
.profile {
  padding-right: 0;
  padding-left: 0;
}

.title {
  font-size: $font-size + 14px;
  font-weight: 300;
  margin-bottom: 20px;
  padding-bottom: 19px;
  border-bottom: 1px solid $border-color;
}

.description {
  font-size: $font-size + 4px;
  font-weight: 600;
  margin-bottom: 10px;
}

.notice {
  color: $font-light;
  margin-bottom: 20px;
}

//aside
.side {
  padding-right: 0;
  padding-left: 30px;
  z-index: 1;
}

.navigation {
  background-color: $light-color;
  overflow: hidden;
  @include box-shadow;
}

//profile student's card
.profile-card {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;

  &-head {
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 19px;
    border-bottom: 1px solid $border-color;
  }

  &-name {
    font-size: $font-size + 14px;
    color: $active-color;
    padding-bottom: 10px;
  }

  &-number {
    font-size: $font-size - 2px;

    .profile-card-data {
      color: $font-color;
    }
  }

  &-collapse,
  &-expand {
    font-size: $font-size - 4px;
    color: $active-color;
    height: 15px;
    line-height: 15px;
    margin-top: 12px;
    padding-right: 20px;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right center;
  }

  &-expand {
    background-image: url('../../img/show_more.png');
  }

  &-collapse {
    background-image: url('../../img/show_less.png');
  }

  &-list {
    margin-right: 20px;
    margin-left: 20px;
    border-bottom: 1px solid $border-color;

    &-item:not(:last-child) {
      padding-bottom: 17px;
    }

    &-item:first-child {
      padding-top: 20px;
    }
  }

  &-title {
    display: inline-block;
  }

  &-data {
    display: inline-block;
    color: $font-light;
  }

  .collapsed {
    // height: 0;
    // opacity: 0;
    display: none;
    overflow: hidden;
    -webkit-transition: height .8s ease-out, opacity .3s ease-out;
    -moz-transition: height .8s ease-out, opacity .3s ease-out;
    -ms-transition: height .8s ease-out, opacity .3s ease-out;
    -o-transition: height .8s ease-out, opacity .3s ease-out;
    transition: height .8s ease-out, opacity .3s ease-out;
  }

  .expanded {
    height: 254px;
    padding-bottom: 20px;
    opacity: 1;
    -webkit-transition: height .8s ease-out, opacity .5s ease-out .3s;
    -moz-transition: height .8s ease-out, opacity .5s ease-out .3s;
    -ms-transition: height .8s ease-out, opacity .5s ease-out .3s;
    -o-transition: height .8s ease-out, opacity .5s ease-out .3s;
    transition: height .8s ease-out, opacity .5s ease-out .3s;
  }

  .editable {
    @include flexbox;
    @include flex-wrap(nowrap);
    @include justify-content;

    dl {
      display: inline-block;
    }

    .profile-card-data {
      color: $active-color;
      text-decoration: underline;
    }
  }

  .profile-card-controls {
    display: none;
  }
}

//profile student's card in state of editing an item
.item-on-edit {
  border: 1px solid $active-color;

  .profile-card {
    border-bottom: none;
  }

  .on-edit {
    background-color: $active-input;
    border: 1px solid $active-secondary;

    .profile-card-title {
      margin-right: 13px;
    }

    .profile-card-data {
      width: calc(100% - 80px);

      &-input {
        display: inline-block;
        width: 100%;
        height: 33px;
        line-height: 33px;
        border: none;
        background-color: $active-input;
      }
    }
  }

  .status {
    display: none;
  }

  .profile-card-controls {
    display: block;
    width: 100%;
    margin-top: 45px;
    padding: 20px;
    background-color: $bg-button-container;

    .btn-save {
      display: inline-block;
      font-size: $font-size + 7px;
      color: $light-color;
      height: 33px;
      padding-right: 18px;
      padding-left: 18px;
      background-color: $active-secondary;
    }

    .btn-cancel {
      font-size: $font-size + 2px;
      color: $active-secondary;
      height: 33px;
      margin-right: 20px;
      padding-right: 18px;
      padding-left: 18px;
    }

  }
}

//status
.status {
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 25px;

  &-title {
    margin-bottom: 15px;
  }

  &-wrapper {
    height: 34px;
    line-height: 34px;
    position: relative;
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: $border-color;
      position: absolute;
      top: 17px;
    }
  }

  &-index {
    display: inline-block;
    text-align: center;
    font-size: $font-size - 3px;
    color: $font-status;
    width: 23px;
    height: 23px;
    line-height: 23px;
    background-color: $border-color;
    background-position: center center;
    @include border-radius(50%);
    position: relative;
    overflow: visible;

    &-tooltip {
      display: inline-block;
      text-align: center;
      color: $font-light;
      width: auto;
      height: auto;
      line-height: normal;
      padding: 10px;
      background: $light-color;
      border: 1px solid $tooltip-border;
      @include border-radius(3px);
      @include box-shadow(0, 2px, 5px, 0, rgba(0, 0, 0, 0.13));
      white-space: nowrap;
      position: absolute;
      top: -52px;
      right: -62px;
    }

    .status-index-arrow {
      @include arrow(bottom);
    }
  }

  .completed {
    color: $light-color;
    background-color: $status-bg-done;
  }

  .active {
    color: $light-color;
    font-size: $font-size - 1px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-color: $status-bg-active;
    position: relative;

    .status-index-tooltip {
      top: -55px;
      right: -66px;
    }
  }
}

//navigation
.navigation-list {
  .navigation-item {
    height: 47px;
    line-height: 47px;
    padding-right: 20px;
    padding-left: 17px;
    border-right: 3px solid transparent;

    a {
      display: block;
      width: 100%;
      border-bottom: 1px solid $border-color;
    }

    &:last-child a {
      border-bottom-color: transparent;
    }

    &-status {
      color: $font-light;
    }
  }

  .active {
    background-color: $active-bg;
    border-right: 3px solid $active-color;

    a {
      color: $active-color;
      border-bottom-color: transparent;

      &-status {
        color: $font-light;
      }
    }
  }
}

.btn-pdf {
  color: $active-color;
  width: 11vw;
  height: 35px;
  // line-height: 33px;
  margin: 10px 20px 20px;
  background-color: $light-color;
  border: 1px solid $active-color;
  padding: 0;
}

.legend {
  text-align: center;
  color: $font-light;
  padding: 20px;
  border-top: 1px solid $border-color;
}

//modal - common rules
.modal {
  &-dialog {
    width: $modal-width;
    height: $modal-height;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &-content {
    width: 100%;
    height: 100%;
    background-color: $modal-bg;
    border: 1px solid $divider-color;
    @include border-radius(0);
    @include box-shadow(3.5px, 3.5px, 5px, 0, rgba(0, 0, 0, 0.14));
  }
  .editPicModal {
    .container-fluid {
      .modal-main {
        height: 306px;
        border-bottom: 1px solid #acacac;
        text-align: center;
        margin-top: 100px;

        h2 {
          height: 55px;
          font-size: 25px;
          color: #999999;
          margin-top: 19px;
        }

        button {
          height: 42px;
          margin-top: 20px;
          background-color: transparent;
          border: solid 1px #3a95c4;
          color: #3a95c4;
          font-size: 20px;
          padding: 12px 20px;
        }
      }
    }
    .footer-modal{
      padding-right: 20px;
      .btn-save{
        color: #2c7095;
        background-color: #75b6d6;
      }
    }
  }
  .recommand-modal{
    background-color: #ffffff;
    .container-recommand{
      background-color: #ffffff;
      padding-left: 20px;
      padding-right: 20px;
      textarea{
        border: solid 1px #bec8d2;
        resize: none;
        width: 100%;
        height: 382px;
        padding-right: 20px;
        padding-top: 20px;
      }
    }
    .actions{
      background-color: #ffffff;
      margin: 30px 0;
    }
  }

  &-header {
    height: $modal-header-height;
    padding: 20px;
    background-color: $light-color;
    border-bottom: none;
    @include box-shadow(0px, 2px, 5px, 0, rgba(0, 0, 0, 0.1));

    .close {
      float: left;
      width: 37px;
      height: 100%;
      margin-left: 5px;
      background-image: url('../../img/close_modal.png');
      background-size: 37px;
      background-repeat: no-repeat;
      background-position-y: center;
    }
  }

  &-subtitle {
    font-size: $font-size + 2px;
    color: $font-light;
  }
  &-subtitle-data {
    font-size: $font-size + 14px;
    color: $active-color;
  }

  &-title {
    font-size: $font-size + 14px;
    color: $active-color;
    line-height: unset;
  }

  &-field-title {
    font-size: $font-size + 8px;
    color: $active-color;
    margin-bottom: 13px;
  }

  &-button-wrapper {
    position: absolute;
    bottom: 0;
  }

  .btn-save {
    font-size: $font-size + 9px;
    color: $light-color;
    width: 200px;
    height: 60px;
    margin-left: 20px;
    background-color: $active-color;
    opacity: .7;
    @include box-shadow;
  }

  .btn-cancel {
    color: $font-light;
    height: 60px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
