@import '../../styles/main';
@mixin evaluation($color: $green) {
  width: 100%;

  .profile-target-head {
    @include flexbox;
    @include align-items(flex-end);

    .edit-action {
      flex: 1;
      color: #74818a;
      text-align: left;

      .edit-btn {
        font-size: 16px;

        .edit-icon {
          padding-left: 5px;
        }
      }
    }

    .close-action {
      flex: 1;
      color: #74818a;
      text-align: left;
      width: 40px;
      height: 40px;

      .close {
        float: left;
        width: 37px;
        height: 100%;
        margin-left: 5px;
        background-image: url('../../img/close_modal.png');
        background-size: 37px;
        background-repeat: no-repeat;
        background-position-y: center;
      }
    }
  }

  .profile-target-title {
    width: calc(100% / 3);
    flex-basis: calc(100% / 3);

    &-number {
      display: block;
      color: $color;
      font-weight: 600;
    }

    &-label {
      display: inline-block;
      color: $color;
      font-weight: 600;
    }

    &-name {
      font-size: $font-size + 8px;
      color: $font-light;
    }

    &-input {
      display: inline-block;
      color: $font-light;
      width: 170px;
      margin-right: 10px;
      padding-right: 10px;
      padding-left: 10px;
      border: none;
      @include placeholder($font-light);
    }
  }

  .target-view {
    color: $color;
    font-weight: 600;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    position: relative;
    left: 14px;
    bottom: 2px;

    &:before {
      content: "";
      width: 10px;
      height: 6px;
      background-image: url('../../img/arrows/arrow_grey.png');
      background-size: 10px 6px;
      background-repeat: no-repeat;
      background-position: left center;
      position: absolute;
      top: 6px;
      left: -18px;
    }

    &:hover {
      border-bottom: 1px solid $color;
    }
  }

  .profile-target-add {
    color: $color;
    padding-top: 15px;
  }

  //table
  .target-calendar {
    margin-top: 20px;

    &-line {
      @include flexbox;
      @include flex-wrap(nowrap);
      @include justify-content(flex-start);

      &:nth-last-child(2) .target-calendar-cell:not(.line-header) {
        border-bottom: 1px solid $border-color;
      }
    }

    &-cell:not(.line-header) {
      width: 60px;
      height: 60px;
      border-top: 1px solid $border-color;
      border-right: 1px solid $border-color;

      &:last-child {
        border-left: 1px solid $border-color;
      }

      .target-calendar-cell-link {
        cursor: pointer;
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .line-header {
      text-align: center;
      color: $color;
      font-weight: 600;
      width: calc(100% - (60px * 12));
      height: 60px;
      line-height: 60px;
    }

    .month-header {
      width: calc(100% - (60px * 12));
    }

    .filled {
      border-right: none;
      border-left: none;
      background-color: $color;
    }

    &-month {
      text-align: center;
      color: $font-light;
      width: 60px;
      height: 30px;
      line-height: 30px;
    }
  }

  //floating note appears on hover on every filled cell
  .target-note {
    display: none;
  }

  //check-boxes - color according to target's color
  .control {
    @include checkbox($color);
  }

}

.evaluation {
  .edit-mode {
    padding-bottom: 0;
    border: solid 1px #3a95c4;
    background-color: rgba(58, 149, 196,0.1);

  }

  .profile-target.bordeaux {
    @include evaluation(#893858);
  }

  .profile-target.dark-blue {
    @include evaluation(#1c3472);
  }

  .profile-target.azure {
    @include evaluation(#3a95c4);
  }

  .target-details {
    .circle {
      left: 10px;
      position: relative;

      .half-circle {
        fill: red;
        width: 15px;
      }
    }

    .four,
    .two {
      transform: rotate(180deg);
      left: 3px;
      position: relative;
    }

    .target-container {
      position: relative;
      z-index: 1;
    }

    .target-fields {
      font-size: $font-size + 2px;
      width: 270px;
      height: auto;
      max-height: 600px;
      padding-right: 20px;
      padding-left: 20px;
      background-color: $light-color;
      border: 1px solid $tooltip-border;
      @include box-shadow(0, 2px, 13px, 0, rgba(0, 0, 0, 0.17));
      @include border-radius(3px);
      @include transition(1s, linear);
      position: absolute;
      top: 10px;
      left: -130px;

      .target-fields-arrow {
        @include arrow(up);
      }

      &-title {
        margin-top: 20px;
      }

      &-list {
        margin-top: 17px;
      }

      &-item {
        height: 45px;
        line-height: 45px;
        border-top: 1px solid $border-color;
        position: relative;

        &:last-child {
          margin-bottom: 20px;
          border-bottom: none;
        }

        .target-fields-item-details {
          display: none;
        }
      }
    }

    .collapsed {
      max-height: 0;
      border-width: 0;
    }

    .overflow-hidden {
      overflow: hidden;
    }
  }

  .profile-new-target {
    width: 138px;
    height: 40px;
    line-height: 40px;
    color: $font-light;
    margin-top: 24px;
    background-color: $border-color;
  }

  .evaluation-table {
    width: 100%;
    margin-top: 30px;

    &-container {
      position: relative;
    }

    &-head {
      &-container {
        width: 100%;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        color: #74818a;
        background-color: #e5ebf1;
      }

      &-title {
        text-align: right;
        padding-right: 10px;
        border: 1px solid #e2e2e2;

        &:nth-child(1) {
          width: 15.8%;
        }

        &:nth-child(2) {
          width: 13.7%;
        }

        &:nth-child(3) {
          width: 23%;
        }

        &:nth-child(4) {
          width: 11.8%;
        }

        &:nth-child(5) {
          width: 15.4%;
        }

        &:nth-child(6) {
          width: 19.6%;
        }
      }
    }

    &-body {
      &-row {
        width: 100%;

        &-data {
          // position: relative;
          color: #000000;
          font-size: 16px;
          background-color: #ffffff;
          border: solid 1px #e2e2e2;

          padding-top: 16px;
          padding-right: 10px;
          padding-bottom: 5px;

          .textarea-container {
            position: relative;
            padding: 17px 0px 3px 5px;

            .textarea-cell {
              position: absolute;
              border: none;
              resize: none;
              width: 88%;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              height: 80px;
              top: 0;
              outline: none;
            }
          }

          .radio label {
            padding-right: 20px;
            padding-left: 0;

          }

          .value-label {
            position: relative;
            right: 25px;
          }
          @media only screen 
          and (min-device-width : 768px) 
          and (max-device-width : 1024px) 
          and (orientation : landscape) { 
            font-size: 14px;
          }

          [type="radio"]:checked,
          [type="radio"]:not(:checked) {
            position: absolute;
            // left: -9999px;
          }

          [type="radio"]:checked + label,
          [type="radio"]:not(:checked) + label {
            position: relative;
            padding-right: 0;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            color: #666;
          }

          [type="radio"]:checked + label:before,
          [type="radio"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            // left: 0;
            top: 0;
            width: 17px;
            height: 18px;
            border: 1px solid #ddd;
            border-radius: 100%;
            background: #fff;
          }

          [type="radio"]:checked + label:after,
          [type="radio"]:not(:checked) + label:after {
            content: '';
            width: 16px;
            height: 16px;

            position: absolute;
            top: 1px;
            // left: 32px;
            border-radius: 100%;
            -webkit-transition: all .2s ease;
            transition: all .2s ease;
          }

          [type="radio"]:not(:checked) + label:after {
            content: '';
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
          }

          [type="radio"]:checked + label:after {
            content: '';
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
          }

          .evaluation-form-status {
            p {
              padding: 3px 0;
            }

            p:nth-of-type(1) {
              [type="radio"]:checked + label:after,
              [type="radio"]:not(:checked) + label:after {
                content: '';
                background: #dc5961;
                right: 0;
              }
            }

            p:nth-of-type(2) {
              [type="radio"]:checked + label:after,
              [type="radio"]:not(:checked) + label:after {
                content: '';
                background: #f7ba45;
                right: 0;
              }
            }

            p:nth-of-type(3) {
              [type="radio"]:checked + label:after,
              [type="radio"]:not(:checked) + label:after {
                content: '';
                background: #84b750;
                right: 0;
              }
            }
          }

          &:nth-child(1) {
            width: 15.8%;
          }

          &:nth-child(2) {
            width: 13.7%;
          }

          &:nth-child(3) {
            width: 23%;
          }

          &:nth-child(4) {
            width: 11.8%;
          }

          &:nth-child(5) {
            width: 15.4%;
          }

          &:nth-child(6) {
            width: 19.6%;
          }
        }
      }
    }
  }

  .evaluation-controls {
    height: 74px;
    line-height: 74px;
    background-color: rgba(58, 149, 196,0.4);
    margin-top: 21px;
    padding-right: 20px;

    width: 105.5%;
    left: 2.8%;
    position: relative;

    .btn-save {
      height: 33px;
      line-height: 33px;
      background-color: #2c7095;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
      color: #ffffff;
      font-size: 23px;
      width: 91px;
    }

    .btn-cancel {
      color: #2c7095;
      font-size: 18px;
      background-color: transparent;
      height: 33px;
      line-height: 33px;
      margin-right: 15px;
    }
  }

}
